.navbar-nav {
    overflow-x: auto;
}

.topbar-link{
  white-space: nowrap;
}


@media (min-width: 768px) {
  .navbar-nav {
    max-width: 280px;
  }
}

@media (min-width: 800px) {
  .navbar-nav {
    max-width: 300px;
  }
}

@media (min-width: 850px) {
  .navbar-nav {
    max-width: 350px;
  }
}

@media (min-width: 900px) {
    .navbar-nav {
        max-width: 400px;
    }
}

@media (min-width: 950px) {
    .navbar-nav {
        max-width: 450px;
    }
}

@media (min-width: 1000px) {
    .navbar-nav {
        max-width: 550px;
    }
}

@media (min-width: 1050px) {
    .navbar-nav {
        max-width: 600px;
    }
}

@media (min-width: 1100px) {
    .navbar-nav {
        max-width: 650px;
    }
}

@media (min-width: 1250px) {
    .navbar-nav {
        max-width: 800px;
    }
}



#link-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#link-container::-webkit-scrollbar-button {
  width: 7px;
  height: 7px;
}
#link-container::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 100px;
}
#link-container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
#link-container::-webkit-scrollbar-thumb:active {
  background: #43b6be;
}
#link-container::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
#link-container::-webkit-scrollbar-track:hover {
  background: #666666;
}
#link-container::-webkit-scrollbar-track:active {
  background: #333333;
}
#link-container::-webkit-scrollbar-corner {
  background: transparent;
}
