@font-face {
  font-family: 'Baloo Tamma 2';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/BalooTamma2-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Pacifico-Regular.ttf') format('truetype')
}

body {
  font-family: 'Baloo Tamma 2', sans-serif;
}

/*hide the google captcha badge*/
.grecaptcha-badge { 
  visibility: hidden;
}

.delete-err-msg{
  color: red;
}